html{
    height: 100vh;
    .bg-claro{
        // background-color: $color_oscuro;
        // background-image:  url("../Logo.png");
        // background-repeat:  round space;
        height: 100%;
        width: 100%;
    }
}

.header-index{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        width: auto;
        height: 20vh;
        color: white;    
    }
}
.conteiner_index{
    height: 80vh;
    background-color: $color_oscuro;
    background-image:  url("../Logo.png");
    
    background-position: left center;
    background-repeat: repeat-x;
    background-size: 50vw;
 
    width: 100vw;
    
    
    
    color: white;
    
    display: flex;
    flex-direction: column;
   
    align-items: center;
    button{
        background-color: $color_contraste;
        border: solid 1px $color_contraste;
        &:hover{
            transform: scale(1.2);
        }
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $main_font;

        label{
            font-size: 2vw;
        }
       input{
        width: 20vw;
       }
        
    }

    .registro{
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $main_font;
    }
}