/*Importo archivos base*/
@import 'base/variables';

@import 'login';
@import 'playlist';
@import 'registro';
/* Reseteo */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* para scrollear más lento entre secciones */
    scroll-behavior: smooth;
    max-width: 100%;
    
}

body{
    background-color: $color_oscuro;
}
// header en comun 
header{
    background-color: $color_oscuro;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        width: auto;
        height: 20vh;
        color: white;    
    }
 
}
//main en comun 
main{
    
    display: flex;
    height: 80vh;
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    background-color: $color_base;
    
    .menu{
       width: 15vw;
       height: 100%;
       background-color: $color_oscuro; 
       
       nav{
        padding: 10%;
        height: 100%;
        display: flex;
       
        justify-content: space-around;
        align-items: center;

        a{
            padding: 5%;
            font-family: $main_font;
            font-size: 1.5vw;
            color: $color_contraste;
        }
        
       }

       
    }
    .contenido{
        height: 80vh;
        width: 85vw;
    }
    .cancionesXgenero{
        width: 80%;
        
        height: 100%;
        width: 85vw;
        
            
        ul{
            list-style: none;
            margin-left: 5%;
            
            
            .canciones{
                
                width: 85vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                margin: 1% 0 ;
                .item{
                    width: 50%;
                    font-size: larger;
                    font-family: $main_font;
                    margin:0.2%;
                   
                    
                }
                
            
            }
        }
    }

    #canciones_guardadas{
        width: 80%;
        
        height: 100%;
        width: 85vw;
        
          
            ul{
                list-style: none;
                margin-left: 5%;
                
                
                .canciones_playlist{
                    width: 85vw;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    
                    margin: 1% 0 ;
                    .item-playlist{
                        width: 50%;
                        font-size: larger;
                        font-family: $main_font;
                        margin:0.2%;
                        
                    }
                    
                    
                
                }
            }
    
    }
   
}

.contenido{
   margin-top: 5%;
    .generos{
        
        margin: 0 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       .genero{
        margin: 1% 5%;
       }
    }
}

#progress-container{
    width: 80%;
    margin: 0 5%;
    background-color: $color_oscuro;
    border: solid 1px $color_contraste;
}

#progress{
    background-color: $color_contraste;
    width: 0%;
}


#reproduccion {
    
    width: auto;
    margin-left: 15vw;
    padding-top: 2%;
    height: fit-content;
    
    
    
    justify-content: space-evenly;
    .controles{
        width: 80%;
        margin: 0% 5%;
        justify-content: space-evenly;
    }
    .boton_playlist, .eliminar_de_playlist{
        margin: 1% 5%;
        
        color:white;
        background-color: $color_contraste;
        border: white;
        font-family: $main_font;
        
    
    }   
    & button{
        background-color: transparent;
        border: none;
        margin: 2%;

        & i {
            font-size: 1.7rem;
            color:$color_contraste
        }
      
    }
}

