/*Colores de la pagina*/
$color_base : #FFF5E4;
$color_liviano : #00C4CC;
$color_mediano : #4C0BD1;
$color_oscuro : #121640;
$color_contraste : #ee3ec9;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$main_font: 'Montserrat', sans-serif;

